/* general css */

*{
padding: 0px;
margin: 0px;
}

body{
    font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Righteous', cursive;
background-color:darkslategray;
color: cyan;
}
.titles{
    font-size: 45px;
    text-align: center;
}
.btn{
    padding: 10px;
    background-color:red;
    text-align: center;
    color: white;
    border: unset;
margin: 80px;
    font-size: 20px;
    border-radius: 10px;
}

.net_btn{
    padding: 10px;
    background-color: rgb(243, 44, 18);
    text-align: center;
    color: white;
    border: unset;
    margin: 10px 80px; 
    font-size: 20px;
    border-radius: 10px;
}
.resultholder{
    height:30px;font-weight: 600;width:100%;text-align: center;
}
/* student grade generator */
.student_grade{
border: 1px solid white;
margin: 2px;
padding: 20px;
width: 47.5%;
float:left;
min-height: 40vh;
text-align: center;
border-radius: 20px;

}
#grade_answer{
    font-size: 20px;
}

/* Speed Detector */
#speed{
    border: 1px solid rgb(234, 240, 234);
margin: 2px;
padding: 20px;
width: 47.2%;
float: right;
min-height: 40vh;
border-radius: 20px;

}
/* Net Salary Calculator*/
.salary{
    border: 1px solid rgb(250, 248, 248);
margin:2px auto;
padding: 0px;
width: 100%;
float: left;
min-height: 60vh;
border-radius: 20px;
text-align:center;

}