/* general css */

*{
padding: 0px;
margin: 0px;
}

body{
    font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Righteous', cursive;
}
.titles{
    font-size: 45px;
    text-align: center;
}
.btn{
    padding: 10px;
    background-color: green;
    text-align: center;
    color: white;
    border: unset;
margin: 80px;
    font-size: 20px;
    border-radius: 10px;
}
.resultholder{
    height:30px;font-weight: 600;width:100%;text-align: center;
}
/* student grade generator */
.student_grade{
border: 1px solid red;
margin: 2px;
padding: 20px;
width: 30%;
float: left;
min-height: 30vh;
text-align: center;
border-radius: 20px;

}
#grade_answer{
    font-size: 20px;
}

/* Speed Detector */
#speed{
    border: 1px solid green;
margin: 2px;
padding: 20px;
width: 30%;
float: left;
min-height: 30vh;
border-radius: 20px;

}
/* Net Salary Calculator*/
.salary{
    border: 1px solid black;
margin: 2px;
padding: 20px;
width: 30%;
float: left;
min-height: 30vh;
border-radius: 20px;
text-align: center;

}